<% provide(:class_text, "基本情報の修正") %>
<% provide(:btn_text, "更新") %>
<h1>基本勤怠の修正</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_with(model: @user,  url: update_basic_info_user_path, local: true) do |f| %>
      <%= render partial: 'shared/error_messages', locals: {obj: @user} %>
    
       <%= f.label :basic_time, class: "label-form" %>
       <%= f.time_field :basic_time, class:  "form-control"%>
      
       <%= f.label :work_time, class: "label-form" %>
       <%= f.time_field :work_time, class:  "form-control"%>
       
       <%= f.submit yield(:btn_text), class: "btn btn-primary btn-block btn-form" %>
    <% end %>
  </div>
</div>