<% provide(:title, "利用者一覧") %>
<h1>社畜アニマル一覧</h1>

<div class="csv-holder">

</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :department %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="center"><%= user.department.present? ? user.department : "未所属" %></td>
        <% if current_user.admin? %>
          <td class="center"><%= format_basic_info(user.basic_time) %></td>
          <td class="center"><%= format_basic_info(user.work_time) %></td>
          <td><%= link_to "基本勤怠の修正", edit_basic_info_user_path(user), class:"btn btn-info" %></td>
          <td><%= link_to "懲戒解雇", user, method: :delete,
                   data: { confirm: "削除してもよろしいですか？" }, class:"btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>