<% provide(:title, "社員一覧") %>

<h1>Z戦士一覧</h1>

<div class="col-md">
  <%= form_tag import_users_path, multipart: true do %>
    <div class="panel pane-default">
      <%= file_field_tag :file, class:"btn btn-default" %>
      <%= submit_tag "CSVをインポート", class:"form_control btn btn-primary", id:"csv-btn" %>
    </div>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
 <%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
 <%= will_paginate %>
</div>

