<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered user-table">
    <tr>
      <td>
        <%= link_to "⇦ ", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        　【<%= l(@first_day, format: :middle) %>】　時間管理表　
        <%= link_to " ⇨", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        </td>
      <td colspan="2">基本時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td colspan="2">指定勤務開始時間：<%= format_basic_info(@user.designated_work_start_time) %></td>
      <td colspan="2">指定勤務終了時間：<%= format_basic_info(@user.designated_work_end_time) %></td>
      <td>月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>名前：<%= @user.name %></td>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>出勤日数：<%= @worked_sum %></td>
      <td>社畜番号</td>
      <td><%= @user.employee_number %></td>
      <td>カードID</td>
      <td><%= @user.uid %></td>
      <td>締め日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<% if current_user.superior? %>
  <div class="notice-superior">
    <li>【所属長承認申請のお知らせ】</li>    
    <li>【勤怠変更申請のお知らせ】</li>    
    <li>【残業申請のお知らせ】</li>    
  </div>
<% end %>

<div class="btn-users-show">
  　　<%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary", id:"btns" %>
  　　<%= link_to "CSV出力", '#', class: "btn btn-primary", id:"btns" %>
  <ul><%= link_to "勤怠修正ログ (承認済み)", '#', class: "btn btn-primary", id:"btns" %></ul>
</div>

<div>
  <table class="table table-bordered table-condensed table-striped table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="7">【実績】</th>
        <th colspan="5">所定外勤務</th>
      <tr>
        <th colspan="2">出社</th>
        <th rowspan="2">登録</th>
        <th colspan="2">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <% css_class = case $days_of_the_week[day.worked_on.wday]
                       when '土'
                         'text-primary'
                       when '日'
                         'text-danger'
                       end %>
        <tr>
          <td>
            <!-- トリガー:起動指示をする部品 -->
            <%= link_to "残業申請", edit_overtime_req_user_path(@user), remote: true, class:"btn btn-primary" %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class=<%= css_class %>>
            <%= $days_of_the_week[day.worked_on.wday] %>
          </td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l day.started_at.floor_to(15.minutes), format: :minute if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to btn_text, user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
            <%= "登録済み" if day.finished_at.present? %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l day.finished_at.floor_to(15.minutes), format: :minute if day.finished_at.present? %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at.floor_to(15.minutes),
                                            day.finished_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td rowspan="2"></td>
        <td colspan="2">累計日数</td>
        <td colspan="5">総勤務時間</td>
        <td>累計在社時間</td>
        <td rowspan="2", colspan="5"></td>
        <td rowspan="2">
           <P><%= "所属長承認" %></p>
            <select class="form-control">
              <option></option>
              <option>上長A</option>
              <option>上長B</option>
            </select>
          　<%= link_to "申請", '#', class:"btn btn-primary" %>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="5"><%= format_basic_info(@user.basic_work_time).to_f * @worked_sum %></td>
        <td>
          <%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>  
  </table>
</div>


<!--モーダル表示-->
<div id="edit-overtime-req" class="modal fade" tabindex="-1" roll="dialog" aria-hidden="true"></div>