<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="container">
    <%= link_to "勤怠システムB", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path, class:"header-list" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to "社畜アニマル一覧", users_path, class:"header-list" %></li>
            <li><%= link_to "基本勤怠の修正", edit_basic_info_user_path(current_user), class:"header-list" %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "詳細", current_user, class:"h-dropdown-list" %></li>
              <li><%= link_to "設定", edit_user_path(current_user), class:"h-dropdown-list" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete, class:"h-dropdown-list" %>
              </li>
            </ul>
        <% else %>
        <li><%= link_to "ログイン", login_path, class:"header-list" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
